{% extends 'bookings/base.html' %}
{% block title %}
  Seat List
{% endblock %}
{% block content %}
  <h2>Bookings</h2>
  <ul class="list-group list-group-flush">
    {% for booking in bookings %}
      <div class="card p-3 m-2">
        <div class="card-body">
          <h4 class="card-title">{{ booking.movie }}</h4>
          <p class="card-text">Seat: {{ booking.seat }}</p>
          <p>User: {{ booking.user }}</p>
          <p>Date: {{ booking.booking_date }} hour</p>
          <form action="{% url 'booking-detail' booking.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger">Delete/Update</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
