{% extends 'bookings/base.html' %}
{% block title %}
  Movie List
{% endblock %}
{% block content %}
  <h2>Available Movies</h2>
  <ul class="list-group list-group-flush">
    {% for movie in movies %}
      <div class="card p-3 m-2">
        <div class="card-body">
          <h4 class="card-title">{{ movie.title }}</h4>
          <p class="card-text">{{ movie.description }}</p>
          <p>Released: {{ movie.release_date }}</p>
          <p>Duration: {{ movie.duration }} hour</p>
          <form action="{% url 'movie-detail' movie.id %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger">Delete/Update</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}
